<form>
  <div class="form-group">
    <label for="name">Patient name:</label>
    <input type="text" class="form-control" id="name" name="name" required>
  </div>
  <div class="form-group">
    <label for="dob">Date of Birth:</label>
    <input type="date" class="form-control" id="dob" name="dob">
  </div>
  <div class="form-group">
      <label for="age">Age:</label>
      <input type="number" class="form-control" id="age" name="age" disabled>
    </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>