<form [formGroup]="patientAddForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name">Patient name:</label>
    <input type="text" class="form-control" id="name" name="name" formControlName="name">
    <div *ngIf="patientAddForm.get('name').touched && patientAddForm.get('name').invalid">
      <span class="help-block" *ngIf="patientAddForm.get('name').errors.required">Project name is required</span>
    </div>
  </div>
  <div class="form-group">
    <label for="dob">Date of Birth:</label>
    <input type="date" class="form-control" id="dob" name="dob" formControlName="dob">
    <div *ngIf="patientAddForm.get('dob').touched && patientAddForm.get('dob').invalid">
      <span class="help-block" *ngIf="patientAddForm.get('dob').errors.required">Date of birth is required</span>
      <span class="help-block" *ngIf="patientAddForm.get('dob').errors.dobInvalid">Date of birth cannot be a future date</span>
    </div>
  </div>
  <button type="submit" class="btn btn-default" [disabled]="patientAddForm.invalid">Submit</button>
</form>
<div *ngIf="patientObservable?.data$|async as patient;else loadingOrError.template">
  <h3>New patient added!</h3>
  <div class="well">
    <strong>ID: </strong> {{ patient.patientId }}
    <br>
    <strong>name: </strong> {{ patient.patientName }}
    <br>
    <strong>Date of Birth: </strong> {{ patient.dateOfBirth|date }}
    <br>
    <strong>Age: </strong> {{ patient.age }}
  </div>
</div>
<loading-or-error #loadingOrError [loadingWrapper]="patientObservable" [errorMessage]="''"></loading-or-error>