<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Patient Management</a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <a routerLink="/allpatients">All Patients</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/addpatient">Add Patient</a>
      </li>
      <form class="navbar-form navbar-left" (ngSubmit)="onSearchById()" #f="ngForm">
        <div class="input-group">
          <input type="number" class="form-control" name="patientID" placeholder="Search Patient by ID" ngModel required>
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit" [disabled]="f.invalid">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </div>
        </div>
      </form>
    </ul>
  </div>
</nav>
<flash-messages></flash-messages>